<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Head. Css.  -->
    <?php
    include "tpl/head.phtml";
    ?>
    <!-- End Head. Css.  -->
    <title>Test task for scandiweb - Add page</title>
</head>
<body class="bg-light">
<!-- NAVBAR -->
<?php
include "tpl/navbar.phtml";
?>
<!-- END of NAVBAR -->
<div class="container">
    <div class="py-5 text-center">
        <h2>ADD PRODUCT</h2>
    </div>
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Card preview</span>
                <span class="badge badge-secondary badge-pill" id="briefbadge"></span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0" >SKU</h6>
                        <small class="text-muted">SKU uniq</small>
                    </div>
                    <span class="text-muted" id="briefsku"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0" >Name</h6>
                        <small class="text-muted">Product's name</small>
                    </div>
                    <span class="text-muted" id="briefname"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0" >Price</h6>
                        <small class="text-muted">Product's price</small>
                    </div>
                    <span class="text-muted" id="briefprice"></span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed" id="briefparam">
                </li>
            </ul>
        </div>
        <!-- Start of Form -->
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Product Add Form</h4>
            <form method="post" class="needs-validation" action="/add/add">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="price">PRICE</label>
                        <input type="number" class="form-control" id="price" name="price" placeholder="" value="" min="0.01" max="9999" step="0.01" required>
                        <div class="invalid-feedback">
                            Valid price is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="name">NAME</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="" value="" maxlength="14" required>
                        <div class="invalid-feedback">
                            Valid  name is required.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="sku">SKU</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><img src="http://www.icons101.com/icon_ico/id_23629/Barcode.ico" height="24em" width="auto"></span>
                        </div>

                        <input type="text" class="form-control" id="sku" name="sku" placeholder="Sku" maxlength="14" required>
                        <div class="invalid-feedback" style="width: 100%;">
                            sku is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="type">TYPE Switcher</label>
                        <select class="custom-select d-block w-100" id="type" name="type" required>
                            <option value="">Choose...</option>
                            <option value="dvd">DVD</option>
                            <option value="book">BOOK</option>
                            <option value="furniture">Furniture</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid type.
                        </div>
                    </div>
                </div>
                <!-- START of dynamic form from js  -->
                <div id="pole1">
                </div>
                <!-- END of  dynamic form from js  -->
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" id="addbutton" type="submit">Add</button>
            </form>
        </div>
        <!-- End of Form -->
    </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2019 For ScandiWeb Test</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Main</a></li>
            <li class="list-inline-item"><a href="/add/">Add Form</a></li>
        </ul>
    </footer>
</div>
<!-- Scripts -->
<script src="/vendor/jquery.min.js">
</script>
<script src="/js/script.js"></script>
<?php
include "tpl/scripts.phtml";
?>
</body>
</html>